body {
    margin: 0;
    font-family: Mulish;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 50px;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

a {
    color: black;
    text-decoration: none;
}

.nav__links {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

.nav__link {
    color: #1F1534;
    font-size: 18px;
    line-height: 23px;
    Opacity: 50%;
    padding: 15px ;
}

.nav__link:hover {
    color:black;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    Opacity: 100%
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.header__img {
    max-width: 700px;
    max-height: 600px;
}

.header__content {
    padding-top: 150px ;
}

.header__h {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
    max-width: 450px;
}

.header__text {
    width: 350px;
    color: #7D7987;
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}

.header__button {
    text-align: center;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
    color: #458FF6;
    background-color: #FFFFFF;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
}

.header__button:hover {
    background-color: #458FF6 ;
    color: #fff;
}

.services {
    margin-bottom: 200px;
}

.services__items {
    margin: 0 auto 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.services__item {
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    padding: 50px;
}

.services__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
}

.services__header:after {
    display: block;
    content: "";
    margin: 25px 48% 30px;
    border-bottom: 2px solid #0a1633;
}

.services__article {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    mix-blend-mode: normal;
    max-width: 950px;
    margin: 0 auto 80px;
}

.services__item-header {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
}

.services__item-article {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

.services__links {
    text-align: center;
}

.services__button {
    text-align: center;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    background-color: #FFFFFF;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
}

.services__button:hover {
    color: #FFF;
    background-color: #458FF6;
}

.providers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.providers__content {
    padding: 70px 80px;
}

.providers__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    position: relative;
    margin-bottom: 60px;
}

.providers__header:after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1px;
    width: 15%;
    margin: -30px 0;
    border-bottom: 4px solid black;
}

.providers__article {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.providers__button {
    text-align: center;
    padding: 15px 50px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    background-color: #FFFFFF;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
}

.providers__button:hover {
    color: #FFF;
    background-color: #458FF6;
}

.download {
    display: flex;
    justify-content: space-between;
    margin-bottom: 260px;
}

.download__header {
    position: relative;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 60px;
}

.download__header::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1px;
    width: 15%;
    margin: -30px 0;
    border-bottom: 4px solid black;
}

.download__paragraph {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.download__button {
    position: relative;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    padding: 15px 50px;
}

.download__button-vector {
    position: absolute;
    right: 30px;
    top: 19px;
}

.download__button:hover {
    color: #FFF;
    background-color: #458FF6;
}

.review {
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 5% 90px;
    margin-bottom: 280px;
}

.review__header {
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 100px;
}

.review__header:after {
    content: '';
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 1px;
    width: 10%;
    margin: -25px 0;
    border-bottom: 4px solid white;
}

.review__face {
    border: 3px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
}

.review__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 42px;
    color: #FFFFFF;
}

.review__name-position {
    font-size: 18px;
    line-height: 48px;
    color: rgba(255, 255, 255, 0.85);
}

.review__human {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review__content {
    display: flex;
    justify-content: space-between;
}

.review__text {
    font-size: 19px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 420px;
}

.latests {
    margin-bottom: 200px;
}

.letests__header {
    position: relative;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    text-align: center;
    margin-bottom: 100px;
}

.letests__header::after {
    display: block;
    content: "";
    margin: 25px 48% 30px;
    border-bottom: 2px solid #0a1633;
}

.latests__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.latests__item {
    max-width: 350px;
    padding-bottom: 35px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}

.latests__item-img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.latests__content {
    padding-left: 33px;
}

.latests__item-header {
    max-width: 260px;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    color: #000000;
}

.latests__item-paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    margin-bottom: 25px;
}

.latests__link {
    font-weight: 600;
    font-size: 17px;
    line-height: 28px;
    color: #4089ED;
}

.latests__button {
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
    padding: 15px 50px;
}


.latests__button:hover {
    color: #FFF;
    background-color: #458FF6;
}

.latests__link {
    text-align: center;
    margin-bottom: 200px;
}

.footer__container {
   max-width: 1600px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.footer {
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    padding: 8% 10%;
}

.footer__logo-img {
    border-radius: 50%;
    margin-right: 10px;
}

.footer__logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer__column {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    color: #fff;
}

.footer__sub {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #fff;
}

.footer__column-header {
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
}

.footer__links {
    padding: 0;
}

.footer__link {
    color: #fff;
    padding-bottom: 10px;
}

.footer__li {
    margin-bottom: 20px;
}






























@media screen and (max-width: 1300px) {
    .container {
        padding: 0 50px;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services__items {
        padding: 0 10%;
        margin: 0 0 70px;
        grid-template-columns: repeat(2, 1fr);
    }

    .services__item {
        margin: 0 auto;
    }

    .providers {
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .providers__img {
        max-width: 700px;
    }

    .providers__content {
        text-align: center;
        padding: 0;
    }

    .download {
        flex-direction: column-reverse;
        align-items: center;
    }

    .download__content {
        text-align: center;
    }

    .download__img {
        max-width: 700px;
    }

    .download__header {
        margin-bottom: 80px;
    }

    .download__paragraph, .download__button {
        margin-bottom: 60px;
    }

    .download__header::after {
        right: 33%;
        left: 33%;
        width: 33%;
    }

    .providers__header:after { 
        right: 33%;
        left: 33%;
        width: 33%;
    }

    .latests__items {
        flex-direction: column;
        align-items: center;
    }
    
    .latests__item {
        margin-bottom: 30px;
    }

    .review {
        margin: 0 10%;
    }
    
    .review__content {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {

    .header__content {
        display: flex;
        flex-direction: column;
    }

    .header__button, .header__h, .header__text {
        margin: 20px auto;
        text-align: center;
    }

   .nav__links {
       display: none;
       width: 400px;
    }

    .header__img, .providers__img, .download__img {
        margin: 0 auto;
        width: 80%;

    }

    .services, .header, .providers, .download, .review, .latests, .latests__link {
        margin-bottom: 100px;
    }

    .header__h {
        font-size: 38px;
    }

    .services__header, .providers__header, .download__header, .letests__header {
        font-size: 28px;
    }

    .providers__button, .download__button, .latests__button, .services__button, .header__button {
        padding: 10px 30px;
    }

    .download__button-vector {
        right: 15px;
        top: 13px;
    }

    .latests__items {
        margin-bottom: 40px;
    }

    .footer__column-header {
        line-height: 12px;
    }
    
    .footer__column-header:focus {
        outline: none;
    }

    .sub-menu-company { 
        display: none; 
     } 
         .main-item:focus ~ .sub-menu-company, 
         .main-item:active ~ .sub-menu-company, 
         .sub-menu-company:hover 
     { 
        display: block; 
     } 
 
     .sub-menu-region { 
         display: none; 
      } 
          .main-item:focus ~ .sub-menu-region, 
          .main-item:active ~ .sub-menu-region, 
          .sub-menu-region:hover 
      { 
         display: block; 
      } 
 
      .sub-menu-help { 
         display: none; 
      } 
          .main-item:focus ~ .sub-menu-help, 
          .main-item:active ~ .sub-menu-help, 
          .sub-menu-help:hover 
      { 
         display: block; 
      }
      
      .footer__container {
          flex-direction: column;
          justify-content: space-around;
      }

      .footer__column {
          margin: 0 auto;
          margin-bottom: 40px;
      }
  
}

@media screen and (max-width: 800px) {
    .services__items {
        margin: 0 0 40px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .services__item {
        margin-bottom: 40px;
    }

    .header__content {
        padding-top: 50px;
    }

    .review__human {
        flex-direction: column;
        align-items: center;
    }

    .review__name {
        text-align: center;
    }

    
}


@media screen and (max-width: 600px) {
    .footer__container {
        flex-direction: column;
        margin-left: 50%;
        transform: translate(-50%, 0);
        width: auto;
    }

    .footer__column {
        margin-bottom: 30px;
    }

    .footer__sub {
        flex-direction: column;
    }
}

@media(max-width: 767px){
    .menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before{
        height: 3px;
        width: 100%;
        position: absolute;
        background: #515758;
        margin: 0 auto;
    }
    .menu-burger__header span{
        top: 17px;
    }
    .menu-burger__header:after, .menu-burger__header:before{
        content: '';
    }
    .menu-burger__header:after{
        bottom: 5px;
    }
    .menu-burger__header:before{
        top: 5px;
    }

    .menu-burger__header {
        position: relative; /* задаем относительное позиционирование */
        width: 40px; /* определяем размеры блока */
        height: 35px;
        display: block;
        margin-left: 10px;
    }
}