.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.hero__img {
    max-width: 700px;
    max-height: 600px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__h {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
    max-width: 450px;
}

.hero__text {
    width: 350px;
    color: #7D7987;
    margin-bottom: 45px;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
}

.button-fill {
    color: #fff;
    background-color: #458FF6;

}

.button-fill:hover {
    background-color: #fff;
    color: #458FF6;
}